@media (max-width:990px){
    .container{
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "item3 item3"
        "item1 item1"
        "item4 item8"
        "item5 item5"
        "item10 item7"
        "item9 item7"
        "item11 item11"
        "item12 item12"
    }
    .item3{
        grid-area: item3;
    }
    .item1{
        grid-area: item1;
    }
    .item4{
        grid-area: item4;
    }
    .item8{
        grid-area: item8;
    }
    .item5{
        grid-area: item5;
    }
    .item10{
        grid-area: item10;
    }
    .item10 .image{
        width: 40%;
        height: 50%;
    }
    .item7{
        grid-area: item7;
    }
    .item7 .image{
         width: 70%;
         height: 350px;
    }
    .item9{
        grid-area: item9;
    }
    .item11{
        grid-area: item11;
        padding-block: 20px;
    }
    
    .item12{
        grid-area: item12;
    }
}
@media (max-width:450px){
    .container{
        grid-template-columns: 100%;
        grid-template-areas: 
        "item3"
        "item1"
        "item4"
        "item8"
        "item5"
        "item10"
        "item7"
        "item9"
        "item11"
        "item12";
    }
    .item3{
        grid-area: item3;
    }
    .item3 .item3-child {
        font-size: 30px;
        width: 100%;
    }
    .item1{
        grid-area: item1;
        flex-direction: column;
        align-items: center;
    }
    .item1 .cap-img{
        width: 90%;
    }

    .item4{
        grid-area: item4;
    }
    .item8{
        grid-area: item8;
    }
    .item5{
        grid-area: item5;
        flex-direction: column;
        
    }
    .item5 .image-left{
        width: 90%;
        order: -1;
    }
    .item5 .image{
        width: 100%;
    }
    .item5 .image-right{
        width: 90%;
        padding-top: 24px;
        order: 5;
        margin-bottom:20px ;
    }
    .item10{
        grid-area: item10;
        padding: 40px 0;
    }
    .item10 .image{
        width: 45%;
        height: 120%;
    }
    .item7{
        grid-area: item7;
    }
    .item9{
        grid-area: item9;
        padding: 10px 0 140px 0;
    }
    .item11{
        grid-area: item11;
        padding-block: 20px;
    }
    
    .item12{
        grid-area: item12;
    }
}